@page "/"

<PageTitle>Photo Upload</PageTitle>

<h1>Welcome to the Photo Library!</h1>

<InputFile OnChange="@OnInputFileChange" multiple />

@if (uploadedFiles.Any())
{
    <button @onclick="UploadFiles">Upload</button>
    <ul>
    @foreach (var file in uploadedFiles)
    {
        <li>@file.Name</li>
    }
    </ul>
}

@code {
    private List<IBrowserFile> uploadedFiles = new List<IBrowserFile>();
    private readonly HttpClient httpClient = new HttpClient(); // This should actually be injected

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        uploadedFiles.AddRange(e.GetMultipleFiles());
    }

    private async Task UploadFiles()
    {
        foreach (var file in uploadedFiles)
        {
            var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(file.OpenReadStream(maxFileSize: 10485760)); // set a limit to file size (10MB here)

            content.Add(fileContent, "\"file\"", $"\"{file.Name}\"");

            var response = await httpClient.PostAsync("api/API1", content);

            if (response.IsSuccessStatusCode)
            {
                // Handle the response accordingly.
            }
            else
            {
                // Error handling
            }
        }
    }
}
